<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <title>爱跑燃动节-答题领取加油券</title>
    <script type="text/javascript" src="https://img.ecc.net.cn/aipaotransfer/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://img.ecc.net.cn/aipaotransfer/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://img.ecc.net.cn/aipaotransfer/css/style.css">
</head>
<body>
    <!-- 重新答题按钮 ‘  again_btn  ’ -->
    <!-- 领取奖品  ‘  rec_btn  ’ -->
    <!--  答题正确p标签加‘correct’  答题错误加 p标签'error' -->
    <div class="answer_wrapper">
        <div class="answer_content">
            <div class="item_wrapper">
                <h1>未全部答对，请重新答题</h1>
                <div class="item">
                    <h2>1.爱跑品牌汽油是什么颜色的？</h2>
                    <p>A.黄色<i class="m-chahao"></i></p>
                    <p>B.透明<i class="m-chahao"></i></p>
                    <p value="true">c.绿色<i class="m-duigou"></i></p>
                    <div class="correct_tips"><i>爱跑小知识:</i>爱跑品牌汽油颜色为淡绿色，是因为汽油内加入了可追溯的DNA标识剂；同时汽油整体呈现为绿色，也代表了中国石化所倡导的绿色低碳的环保理念。<em>正确答案:C</em></div>
                </div>
                <div class="item">
                    <h2>2.爱跑品牌汽油的英文名称是？</h2>
                    <p value="true">A.X-POWER<i class="m-duigou"></i></p>
                    <p>B.A-POWER<i class="m-chahao"></i></p>
                    <p>c.P-POWER<i class="m-chahao"></i></p>
                    <div class="correct_tips"><i>爱跑小知识:</i>“X”代表未知与无限可能，寓意加注爱跑品牌汽油后能量满满，可使汽车释放强劲动力，因此爱跑品牌汽油的英文名称为“X-POWER”。<em>正确答案:A</em> </div>
                </div>
                <div class="item">
                    <h2>3.“爱跑98”品牌汽油的优势有哪些？</h2>
                    <p>A.提速快，续航远<i class="m-chahao"></i></p>
                    <p>B.清积碳，降排放<i class="m-chahao"></i></p>
                    <p value="true">c.以上都是<i class="m-duigou"></i></p>
                    <div class="correct_tips"><i>爱跑小知识:</i>爱跑98”品牌汽油主要特点可以概括为“三个一点”，即“提速快一点，续航远一点，洁净多一点”，因此以上答案均是“爱跑98”品牌汽油的核心优势。<em>正确答案:C</em></div>
                </div>
                <button class="submit_btn">提交</button>
            </div>
        </div>
    </div>
    <!-- 提示语 -->
   <div class="float_mask">请完成所有题目后点击提交</div>
</body>
</html>