<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <title>爱跑燃动节-答题领取加油券</title>
    <script type="text/javascript" src="https://img.ecc.net.cn/aipaotransfer/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://img.ecc.net.cn/aipaotransfer/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://img.ecc.net.cn/aipaotransfer/css/style.css">
</head>
<body>
   <div class="index_wrapper transfer_wrapper">
       <div class="transfer_content">
           <img src="https://img.ecc.net.cn/aipaotransfer/images/ewm.jpg" alt="">
           <p class="p01">长按二维码参与活动</p>
           <p class="p02">“豪抢整吨油”活动限时报名中</p>
           <p class="p03">答题还可另获<br/>爱跑98汽油30-60元加油体验券</p>
       </div>
   </div>
</body>
</html>